<!--Proyecto de Back-End#-->
{% extends "layout.html" %}

{% block title %}
  {{ 'Editar Libro' if editar else 'Nuevo Libro' }}
{% endblock %}

{% block content %}
  <h2 class="mb-4">
    {{ 'Editar Libro' if editar else 'Nuevo Libro' }}
  </h2>

<form method="POST">
    {{ form.hidden_tag() }}

    <p>
        {{ form.titulo.label }}<br>
        {{ form.titulo(size=40) }}
    </p>

    <p>
        {{ form.descripcion.label }}<br>
        {{ form.descripcion(rows=6, cols=60) }}
    </p>

    <p>
        {{ form.autor.label }}<br>
        {{ form.autor(class="form-select", style="width: 300px;") }}


    </p>

    <p>
        {{ form.disponible.label }}<br>
        {{ form.disponible(class="form-select", style="width: 150px;") }}
    </p>

    <p><input type="submit" value="Guardar libro"></p>
</form>

{% endblock %}
