{% extends "layout.html" %}

{% block title %}Libros{% endblock %}

{% block content %}
  <h2 class="mb-4">Lista de Libros</h2>

  <!-- Tabla de Libros -->
  <table class="table">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Título</th>
        <th scope="col">Descripción</th>
        <th scope="col">Autor</th>
        <th scope="col">Disponibilidad</th>
        <th scope="col">Acciones</th>
      </tr>
    </thead>
    <tbody>
      {% for libro in libros %}
  <tr>
    <td>{{ libro.id }}</td>
    <td>{{ libro.titulo }}</td>
    <td>{{ libro.descripcion }}</td>
    <td>{{ libro.autor.nombre }}</td>
    <td>{{ 'Disponible' if libro.disponible else 'No disponible' }}</td>
    <td>
      <!-- acciones -->
    </td>
  </tr>
{% endfor %}

    </tbody>
  </table>

  <!-- Botón para crear nuevo libro -->
  <a href="{{ url_for('main.crear_libro') }}" class="btn btn-primary">Nuevo Libro</a>
{% endblock %}
