{% extends "layout.html" %}
{% block title %}{{ 'Añadir Libro' if not libro else 'Editar Libro' }}{% endblock %}

{% block content %}
<h3>{{ 'Añadir un nuevo libro' if not libro else 'Editar libro' }}</h3>

<form method="POST" novalidate>
  {{ form.hidden_tag() }}

  <div class="mb-3">
    {{ form.titulo.label(class="form-label") }}
    {{ form.titulo(class="form-control", placeholder="Título del libro") }}
  </div>

  <div class="mb-3">
    {{ form.autor.label(class="form-label") }}
    {{ form.autor(class="form-control", placeholder="Autor del libro") }}
  </div>

  <div class="mb-3">
    {{ form.genero.label(class="form-label") }}
    {{ form.genero(class="form-control", placeholder="Género del libro") }}
  </div>

  <div class="mb-3">
    {{ form.descripcion.label(class="form-label") }}
    {{ form.descripcion(class="form-control", placeholder="Descripción del libro") }}
  </div>

  <div class="mb-3">
    {{ form.imagen.label(class="form-label") }}
    {{ form.imagen(class="form-control", placeholder="URL de la imagen del libro") }}
  </div>

  <div class="mb-3">
    {{ form.submit(class="btn btn-primary") }}
  </div>
</form>
{% endblock %}
