{% extends "layout.html" %}

{% block title %}
  {{ 'Editar Libro' if editar else 'Nuevo Libro' }}
{% endblock %}

{% block content %}
  <h2 class="mb-4">
    {{ 'Editar Libro' if editar else 'Nuevo Libro' }}
  </h2>

<form method="POST">
    {{ form.hidden_tag() }}

    <p>
        {{ form.titulo.label }}<br>
        {{ form.titulo(size=40) }}
    </p>

    <p>
        {{ form.descripcion.label }}<br>
        {{ form.descripcion(rows=6, cols=60) }}
    </p>

    <p class="autor-field">
        {{ form.autor.label }}<br>
        {{ form.autor(size=10) }}
    </p>

    <p>
        {{ form.isbn.label }}<br>
        {{ form.isbn(size=20) }}
    </p>

    <p>
        {{ form.disponible() }} {{ form.disponible.label }}
    </p>

    <p><input type="submit" value="Guardar libro"></p>
</form>

{% endblock %}
