{% extends "layout.html" %}

{% block title %}Crear Libro{% endblock %}

{% block content %}
  <h2>Crear un Nuevo Libro</h2>
  <form action="{{ url_for('main.libros') }}" method="POST">
    <div class="mb-3">
      <label for="titulo" class="form-label">Título</label>
      <input type="text" class="form-control" id="titulo" name="titulo" value="Cien años de soledad" required>
    </div>
    <div class="mb-3">
      <label for="descripcion" class="form-label">Descripción</label>
      <textarea class="form-control" id="descripcion" name="descripcion" required></textarea>
    </div>
    <div class="mb-3">
      <label for="autor" class="form-label">Autor</label>
      <input type="text" class="form-control" id="autor" name="autor" value="Gabriel Garcia Marquez" required>
    </div>
    <div class="mb-3">
      <label for="anio_publicacion" class="form-label">Año de Publicación</label>
      <input type="number" class="form-control" id="anio_publicacion" name="anio_publicacion" value="1967" required>
    </div>
    <div class="mb-3">
      <label for="bibliotecario_id" class="form-label">Bibliotecario</label>
      <input type="number" class="form-control" id="bibliotecario_id" name="bibliotecario_id" value="-1" required>
    </div>
    <div class="form-check mb-3">
      <input type="checkbox" class="form-check-input" id="disponible" name="disponible" checked>
      <label class="form-check-label" for="disponible">Disponible</label>
    </div>
    <button type="submit" class="btn btn-primary">Crear Libro</button>
  </form>
{% endblock %}
