<!--Proyecto de Back-End#-->
{% extends "layout.html" %} 
{% block title %}Listado de Usuarios{% endblock %} 
{% block content %}
<h3 class="mb-4">Usuarios Registrados en el Sistema de Biblioteca</h3>

<table class="table table-striped table-hover">
  <thead class="table-light">
    <tr>
      <th>Nombre de Usuario</th>
      <th>Correo Electrónico</th>
      <th>Rol</th>
    </tr>
  </thead>
  <tbody>
    {% for usuario in usuarios %}
    <tr>
      <td>{{ usuario.username }}</td>
      <td>{{ usuario.email }}</td>
      <td>{{ usuario.role.name }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
